* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background-image: url(fondo.png);
  color: white;
}

header {
  background-color: black;
  color: white;
  padding: 0.1em;
}

header h1 {
  font-size: 1.5em;
  margin-left: 10px;
}

#titulo {
  text-align: center;
}

#intro {
  text-align: center;
  font-size: 20px;
}

footer {
  background-color: #c2c618;
  color: black;
  padding: 3rem 2rem;
}
